@import '~@angular/material/core/theming/all-theme';
@include md-core();

$tix-primary: md-palette($md-light-blue);
$tix-accent:  md-palette($md-amber, A200, A100, A400);
$tix-warn:    md-palette($md-deep-orange);
$tix-theme: md-light-theme($tix-primary, $tix-accent, $tix-warn);

@include angular-material-theme($tix-theme);
