<div class="row">
    <div class="half-width">
        <mat-card>
            <mat-card-title>E-Ticket Registration Form</mat-card-title>
            <mat-card-content>
                <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" novalidate>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="First Name" formControlName="FirstName" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.FirstName" class="alert alert-warn">
                            {{orderFormErrors.FirstName}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Last Name" formControlName="LastName" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.LastName" class="alert alert-warn">
                            {{orderFormErrors.LastName}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Mailing Address" formControlName="Address" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.Address" class="alert alert-warn">
                            {{orderFormErrors.Address}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="City" formControlName="City" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.City" class="alert alert-warn">
                            {{orderFormErrors.City}}
                        </div>
                    </div>
                    <div>
                        <div class="mat-select-container">
                            <mat-select class="full-width" placeholder="State" formControlName="State" required>
                                <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                                    {{state.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div *ngIf="orderFormErrors.State" class="alert alert-warn">
                            {{orderFormErrors.State}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Zip Code" formControlName="ZipCode" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.ZipCode" class="alert alert-warn">
                            {{orderFormErrors.ZipCode}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Cell/Home Phone" formControlName="Phone" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.Phone" class="alert alert-warn">
                            {{orderFormErrors.Phone}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Work Phone" formControlName="WorkPhone">
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.WorkPhone" class="alert alert-warn">
                            {{orderFormErrors.WorkPhone}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email Address" formControlName="Email" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.Email" class="alert alert-warn">
                            {{orderFormErrors.Email}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Destination" formControlName="Destination" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.Destination" class="alert alert-warn">
                            {{orderFormErrors.Destination}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Sponsor" formControlName="Sponsor" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.Sponsor" class="alert alert-warn">
                            {{orderFormErrors.Sponsor}}
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Authorization Rep" formControlName="RepresentativeName" required>
                        </mat-form-field>
                        <div *ngIf="orderFormErrors.RepresentativeName" class="alert alert-warn">
                            {{orderFormErrors.RepresentativeName}}
                        </div>
                    </div>
                    <div class="full-width cell">
                        <label>Date Issued</label> {{todaysDate | date}}
                    </div>
                    <div class="full-width cell">
                        <label>I agree to the <a href="http://2tickets4me.com/Air_Terms_%26_Condtions.html" target="_blank">terms &amp; conditions</a></label>
                        <mat-checkbox formControlName="AgreeToTerms" required></mat-checkbox>
                        <div *ngIf="orderFormErrors.AgreeToTerms" class="alert alert-warn">
                            {{orderFormErrors.AgreeToTerms}}
                        </div>
                    </div>
                    <div class="full-width actions">
                        <button mat-raised-button type="submit">Submit</button>
                        <button mat-raised-button type="button" (click)="orderForm.reset()">Clear</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="half-width">
        <mat-card>
            <mat-card-title>Registration Instructions</mat-card-title>
            <mat-card-content>
                <ol>
                    <li>Fill out this form completely.</li>
                    <li>After you submit this form you will receive an email with your <strong>E-Ticket Registration Card</strong>.</li>
                    <li><strong>Print out</strong> the registration card and mail it in to us <strong>within 30 days</strong> of Issue Date.<br />
                    <span class="info">(mailing instructions will be included in your e-mail)</span></li>
                    <li>After we receive your registration card, we will then mail you a <strong>VACATION REQUEST FORM</strong>
                    via USPS First Class Mail to fill out 60 days prior to your trip.</li>
                    <li>Your <strong>VACATION REQUEST FORM</strong> will have the phone number, fax number &amp; mailing address of our Travel Agency.
                    Please contact them to discuss, book and finalize your trip details. </li>
                </ol>
                <ul>
                    <li><strong>Sponsor</strong> is the business from whom you received your promotion from.</li>
                    <li><strong>Authorization Rep</strong> is the person from whom you received your promotion from.</li>
                    <li><strong>Sponsor</strong> &amp; <strong>Authorization Rep</strong> must be accurate or your request will be voided.</li>
                </ul>

                <p>
                    You must have a valid e-mail address to participate in this promotion.
                    We are not responsible for invalid e-mail addresses or spam filters.
                    To ensure you receive this promotion, please add <strong>postmaster@2tickets4me.com</strong>
                    to your address book. We will not use, sell, or provide your e-mail address
                    or contact information to anyone other than the Sponsor and/or Authorization Rep
                    that gave you this promotion. If you have any problems submitting this form,
                    DO NOT contact the Sponsor or Authorization Rep. Simply contact
                    <a href="mailto:techsupport@2tickets4me.com">techsupport@2tickets4me.com</a>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
