<div *ngIf="order" class="row">
    <div class="half-width">
        <img src="{{regCardImage}}" />
    </div>
    <div class="half-width">
        <mat-card>
            <mat-card-title>To receive your tickets follow these simple steps...</mat-card-title>
            <mat-card-content>
                <ol>
                    <li>Mail in this registration card (<em>within 30 days of issue date</em>) along with a $25 Check or Money
                        Order (for Shipping/Handling) made out to: Airline Tickets America
                        <ul class="address" style="list-style: none; font-weight: bold;">
                            <li>Mail To:</li>
                            <li>Airline Tickets America (<em>Attention Promotions Dept.</em>)</li>
                            <li>P.O. Box 56477</li>
                            <li>Portland, Oregon 97238</li>
                        </ul>
                    </li>
                    <li>Once we receive your registration card we will then mail you your
                        <span style="font-weight: bold;">VACATION REQUEST FORM</span> to plan your $trip and redeem your
                        tickets.</li>
                </ol>
                <p style="font-style: italic;">Once you receive the <strong>Vacation Request Form</strong> from us (and you already know where & when you want to go on your trip) You can then mail, fax or call in to us <strong>60 DAYS PRIOR</strong> to your departure date. Our travel agency will then research your request and contact you to arrange your entire $trip from start to finish. Make sure to follow all Terms &amp; Conditions to validate this promotional offer. Kick back, relax and enjoy your vacation! You've worked hard, you deserve it!</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
