<mat-card class="start-card">
    <mat-card-title>Congratulations!</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" #startOrderForm="ngForm" novalidate>
            <p>To redeem your tickets, please enter a current and valid access code.</p>
            <p>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Access Code" [(ngModel)]="accessCode" #ctrl="ngModel" name="accessCode" required />
                </mat-form-field>
            </p>
            <div *ngIf="ctrl.touched && ctrl.invalid" class="alert alert-danger">
                Please Enter Access Code
            </div>
            <p>
                <button mat-raised-button>CONTINUE</button>
            </p>
        </form>
    </mat-card-content>
</mat-card>
