/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  margin: 0;
}

html {
background: url('assets/beach-bg.jpg') no-repeat center center fixed;
background-size: cover;
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
@media (min-width: 48em) {
  width: 46em;
}
@media (min-width: 62em) {
  width: 60em;
}
@media (min-width: 75em) {
  width: 73em;
}
}

.container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.row {
  display: table;
}

.row:after {
display: table;
content: " ";
}

.half-width {
@media (min-width: 48em) {
  float: left;
  width: 50%;
  padding: 0 15px;
}
}

.full-width {
  width: 100%;
}

.alert {
  padding: 10px 15px;
  color: #444;
  background-color: #cfcfcf;
  &.alert-danger {
      color: #fff;
      background-color: #ac2222;
  }
  &.alert-warn {
      color: #ac2222;
  }
}

.mat-select-container {
  margin: 16px 0 12px;
}
